
<div> 
  <input type="number" #catID class="form-control" />
  <button
    type="button"
    class="btn btn-primary"
    (click)="changeSelect(catID.value)"
  >
    change Category
  </button>
</div>
<h1>{{orderDate | date:'cc-MM-yyyy'}}</h1>
<div class="table-responsive">
  <table class="table">
    <thead class="bg-dark text-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col">Av. Quantity</th>
        <th scope="col">Price in USD</th>
        <th scope="col">Price in EGP</th>
        <th scope="col">Count</th>
        <th scope="col">Buy</th>
      </tr>
    </thead>
    <tbody>
      <!--<tr *ngFor="let prd of prdList; let i =index; trackBy:prdTrack" [class.d-none]="selectedCat!=prd.categoryID"  [style.background-color]="(prd.quantity==0)?'red':'yellow'"> !-->
      <!--<tr *ngFor="let prd of prdList; let i =index; trackBy:prdTrack" > !-->
      <!--  <ng-container *ngFor="let prd of prdList;let i = index;"> -->
      <!--<tr *ngIf="prd.quantity>0"> -->
      <tr *ngFor="let prd of prdListFiltered; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ prd.name }}</td>
        <td><img LightBox="red" backgroundColor="black" src="{{ prd.imgURL }}" alt="imgss" /></td>
        <!-- <td>
          <div *ngIf="prd.quantity!=0;else outOfStock;"> {{ prd.quantity }}</div> 
          <ng-template #outOfStock> Out of Stock</ng-template>
        </td> -->
        
        <td [ngSwitch]="prd.quantity">
            <div *ngSwitchCase="0"> Zero </div>    
            <div *ngSwitchCase="1"> One </div>    
            <div *ngSwitchCase="10"> Ten </div>    
            <div *ngSwitchDefault> {{prd.quantity}} </div>    

        </td>
        <td>{{ prd.price | currency : 'USD': 'symbol'}}</td>
        <td>{{ prd.price | uSDtoEGP : 10 | currency : 'EGP' : 'code'}}</td> 
        <td><input type="number" #countNumber class="form-control" /></td>
        <td>
          <button
            type="button"
            class="btn btn-primary"
            [class.btn-danger]="prd.quantity == 0"
            (click)="buy(prd.price, countNumber.value)"
          >
            Buy
          </button>
        </td>
      </tr>
      <!--</ng-container> -->
    </tbody>
  </table>
  <hr />
  <h3>Total Price : {{ orderTotalPrice | currency}}</h3>
  <h3>Total Price : {{ orderTotalPrice | uSDtoEGP : 40 | currency:'EGP'}}</h3>
</div>
