<div>
  <div class="mb-3">
    <label for="categorySelect" class="form-label">Select Category</label>
    <select
      class="form-select form-select-lg"
      name="categorySelect"
      id="categorySelect"
      [(ngModel)]="selectedCat"
    >
      <option *ngFor="let cat of catList" [value]="cat.id">
        {{ cat.name }}
      </option>
    </select>
  </div>
</div>
<div>
  <h3>{{ selectedCat }}</h3>
  <input type="number" #catID class="form-control" />
  <button
    type="button"
    class="btn btn-primary"
    (click)="changeSelect(catID.value)"
  >
    change Category
  </button>
</div>
<div class="table-responsive">
  <table class="table">
    <thead class="bg-dark text-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col">Av. Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Count</th>
        <th scope="col">Buy</th>
      </tr>
    </thead>
    <tbody>
      <!--<tr *ngFor="let prd of prdList; let i =index; trackBy:prdTrack" [class.d-none]="selectedCat!=prd.categoryID"  [style.background-color]="(prd.quantity==0)?'red':'yellow'"> !-->
      <!--<tr *ngFor="let prd of prdList; let i =index; trackBy:prdTrack" > !-->
      <!--  <ng-container *ngFor="let prd of prdList;let i = index;"> -->
      <!--<tr *ngIf="prd.quantity>0"> -->
      <tr *ngFor="let prd of prdList; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ prd.name }}</td>
        <td><img LightBox src="{{ prd.imgURL }}" alt="imgss" /></td>
        <!-- <td>
          <div *ngIf="prd.quantity!=0;else outOfStock;"> {{ prd.quantity }}</div> 
          <ng-template #outOfStock> Out of Stock</ng-template>
        </td> -->
        
        <td [ngSwitch]="prd.quantity">
            <div *ngSwitchCase="0"> Zero </div>    
            <div *ngSwitchCase="1"> One </div>    
            <div *ngSwitchCase="10"> Ten </div>    
            <div *ngSwitchDefault> {{prd.quantity}} </div>    

        </td>
        <td>{{ prd.price }}</td>
        <td><input type="number" #countNumber class="form-control" /></td>
        <td>
          <button
            type="button"
            class="btn btn-primary"
            [class.btn-danger]="prd.quantity == 0"
            (click)="buy(prd.price, countNumber.value)"
          >
            Buy
          </button>
        </td>
      </tr>
      <!--</ng-container> -->
    </tbody>
  </table>
  <hr />
  <h3>Total Price : {{ orderTotalPrice }}</h3>
</div>
